<%- include('includes/heads'); %>



  <section class="container">
    <h1>
      <%  numeros.forEach(num =>{ %>
        <%= num %> <br>
      <% }); %>
      

    </h1>
    <h1>
      <% if(typeof titulo !== 'undefined') { %>
        <%= titulo %>
        <% } else { %>
          O título não foi enviado
        <% } %>
        <br>
        <%=  umaVariavelLocal%>
    </h1>

    <h1>
       

    </h1>
    <form action="/" method="post">
      <label for="">cliente</label>
      <input type="text" name="cliente" id="">
      <button>Submit</button>
    </form>
  </section>

  <%- include('includes/footer'); %>