<%- include('includes/heads')%>
    <%- include('includes/nav')%>

        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>

                <div class="col-lg-8 my-5">
                    <h1 class="display-1 text-center">Criar conta ou logar</h1>
                    <p class="text-center lead">Faça login ou crie sua conta abaixo</p>
                </div>

                <div class="row">
                    <div class="col-lg">
                        <h4>Faça seu cadastro</h4>
                        <p>Caso ainda não tenha conta! preencha o formulário abaixo:</p>

                        <%- include('includes/messages');%>

                        <form action="/login/register" method="POST">
                            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
                            <div class="mb-3">
                                <label class="form-label">Seu e-mail</label>
                                <input type="email" class="form-control" name="email">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Sua senha</label>
                                <input type="password" class="form-control" name="password">
                            </div>

                            <button type="submit" class="btn btn-primary">Criar minha conta</button>
                        </form>
                    </div>
                    <div class="col-lg">
                        <h4>Login</h4>
                        <p>Faça seu login</p>

                        <form action="/login/login" method="POST">
                            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
                            <div class="mb-3">
                                <label class="form-label">Seu e-mail</label>
                                <input type="email" class="form-control" name="email">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Sua senha</label>
                                <input type="password" class="form-control" name="password">
                            </div>

                            <button type="submit" class="btn btn-primary">Criar minha conta</button>
                        </form>
                    </div>
                </div>

                <div class="col-lg-2"></div>
            </div>

        </div>

        <%- include('includes/footer')%>